.gradle/
.gradle-user/
.gradle-home/
.gradle-user-home/
.gradle-local/
.metadata
*.class
*.java~
bin/
.project
.classpath
build/
.settings/
*.log
jitdump.*
javacore.*
*.dmp
*.trc
out/
.intellijPlatform/
